@using Masuit.Tools
<!DOCTYPE html>

<html>
<head>
    <title>JX.CMS系统登录</title>
    
    <link rel="stylesheet" href="/Admin/css/login.min.css"/>
    <link rel="stylesheet" href="/Admin/css/buttons.min.css"/>
    <link rel="stylesheet" href="/Admin/css/forms.min.css"/>
</head>
<body class="login js login-action-login wp-core-ui">
<div id="login">
    <h1>
        <a href="https://cn.wordpress.org/">JX.CMS</a>
    </h1>
    @if(!ViewData["Error"].IsNullOrEmpty()){<div id="login_error"> <strong>错误</strong>：@ViewData["Error"]<br></div>}
    <form name="loginform" id="loginform" method="post">
        <p>
            <label for="user_login">用户名</label>
            <input type="text" name="username" id="user_login" class="input" value="" size="20" autocapitalize="off">
        </p>
        <div class="user-pass-wrap">
            <label for="user_pass">密码</label>
            <div class="wp-pwd">
                <input type="password" name="password" id="user_pass" class="input password-input" value="" size="20">
            </div>
        </div>
        <p class="forgetmenot">
            <input name="rememberme" type="checkbox" id="rememberme" value="true"> <label for="rememberme">记住我</label>
        </p>
        <p class="submit">
            <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录">
            <input type="hidden" name="redirect" value="@ViewData["redirect"]"> 
        </p>
    </form>
    <p id="nav">
        <a href="https://www.jvxiang.com/wp-login.php?action=lostpassword">忘记密码？</a>
    </p> 
<p id="backtoblog">
    <a href="https://www.jvxiang.com/"> ← 返回到聚享阁 </a>
</p>
</div>
<div class="clear"></div>
<div id="mydiv" style="display: none;"></div>
</body>
</html>