@page
@model Jx.Cms.Web.Pages.Default.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    this is a default page11122
</div>
</body>
</html>