@using System.ComponentModel
@using Furion.JsonSerialization
@using Jx.Cms.Admin.Vo
@using Masuit.Tools

@inherits Jx.Cms.Common.Components.WidgetComponentBase

<Row ItemsPerRow="ItemsPerRow.One" RowType="RowType.Normal">
    <BootstrapInput @bind-Value="Title"></BootstrapInput>
    <Textarea @bind-Value="Content"></Textarea>
    <Button OnClick="Callback">保存</Button>
</Row>

@code {
    [DisplayName("标题名")]
    private string Title { get; set; }

    [DisplayName("内容")]
    private string Content { get; set; }

    Dictionary<string, string> _values;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!Parameter.IsNullOrEmpty())
        {
            _values = JSON.Deserialize<Dictionary<string, string>>(Parameter);
            if (_values.ContainsKey(nameof(Title)))
            {
                Title = _values[nameof(Title)];
            }
            if (_values.ContainsKey(nameof(Content)))
            {
                Content = _values[nameof(Content)];
            }
        }
    }

    private async Task Callback()
    {
        var values = new Dictionary<string, string>()
        {
            {nameof(Title), Title},
            {nameof(Content), Content}
        };
        await OnParameterSave.InvokeAsync(JSON.Serialize(values));
    }
    
}