@page
@model DemoPlugin.MyFeature.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title></title>
</head>
<body>
<div>
    this is a MyFeature Index Page
</div>
</body>
</html>