@using Microsoft.AspNetCore.Components.Authorization

<BootstrapBlazorRoot>
    <Router AppAssembly="typeof(InstallStartup).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData">
                <NotAuthorized>
                    <RedirectToLogin></RedirectToLogin>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h2>抱歉！找不到页面。</h2>
        </NotFound>
    </Router>
</BootstrapBlazorRoot>