@page "/Settings/RewriteSettings"
@using Jx.Cms.Common.Attribute


@attribute [Menu("7B0EB51A-78C8-4DFE-AC19-D001845114F6", "伪静态设置", "/Admin/Settings/RewriteSettings", iconClass:"fa fa-newspaper-o",  parentId:MenuIds.SettingsId)]

<table class="table">
    <tbody>
    <tr>
        <th scope="row">静态化选项</th>
        <td><Radio></Radio></td>
    </tr>
    </tbody>
</table>

@code {
    
}