@using Jx.Cms.Common.Extensions
@using System.Diagnostics.CodeAnalysis
@using Furion
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Entities.Admin
@using Jx.Cms.Plugin.Utils
@using Jx.Cms.Service
@using Jx.Cms.Service.Admin
@inherits LayoutComponentBase

@inject IAdminMenuService _adminMenuService
@inject MessageService MessageService
@inject NavigationManager NavigationManager
@inject IAdminUserService AdminUserService

<Message />
<Toast />
<SweetAlert />
<Dialog />

<Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true" IsFixedFooter="true"
        ShowFooter="true" ShowCollapseBar="true" OnCollapsed="@OnCollapsed" Menus="@GetIconSideMenuItems()">
    <Header>
        <span class="ml-3 flex-fill"></span>
        <img src="/Admin/Image/LoadLocalAvatar?name=@_adminUser.NickName" class="layout-avatar-right" />
        <span class="ml-3 d-none d-sm-block">@_adminUser.NickName</span>
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="_content/BootstrapBlazor.Shared/images/brand.png" />
            <div class="layout-title">
                <span>JX.CMS</span>
            </div>
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a href="/" target="_blank">JX.CMS</a>
        </div>
    </Footer>
</Layout>

@code
{

    /// <summary>
    ///获得/设置 是否收缩侧边栏
    /// </summary>
    public bool IsCollapsed { get; set; }

    private Task OnCollapsed(bool collapsed)
    {
        IsCollapsed = collapsed;
        return Task.CompletedTask;
    }

    private List<MenuItem> _menuItems;

    private AdminUserEntity _adminUser;
    

    private IEnumerable<MenuItem> GetIconSideMenuItems()
    {
        _adminUser = AdminUserService.GetUserByUserName(App.User.Identity.Name);
        var menuAttributes = _adminMenuService.GetAllMenu();
        menuAttributes.AddRange(PluginUtil.OnMenuShow().Select(x => new MenuAttribute(x.MenuId, x.DisplayName, $"/PluginPage/{x.MenuId}", -1, x.Icon, x.ParentId??"")));
        _menuItems = new List<MenuItem>();
        foreach (var attribute in menuAttributes.Where(x => x.ParentId.IsNullOrEmpty()).OrderByDescending(x => x.Order))
        {
            MenuItem menuItem = new MenuItem();
            menuItem.Icon = attribute.IconClass;
            menuItem.Text = attribute.DisplayName;
            menuItem.Url = attribute.Path;
            GenerateMenu(menuItem, attribute.Id, menuAttributes);
            _menuItems.Add(menuItem);
        }
        return _menuItems;
    }
    
    private void GenerateMenu(MenuItem item, string parentId, List<MenuAttribute> menuAttributes)
    {
        var menus = menuAttributes.Where(x => x.ParentId == parentId).OrderByDescending(x => x.Order);
        foreach (var menuAttribute in menus)
        {
            MenuItem menuItem = new MenuItem();
            menuItem.Icon = menuAttribute.IconClass;
            menuItem.Text = menuAttribute.DisplayName;
            menuItem.Url = menuAttribute.Path;
            if (menuAttributes.Any(x => x.ParentId == menuAttribute.Id))
            {
                GenerateMenu(menuItem, menuAttribute.Id, menuAttributes);
            }
            item.AddItem(menuItem);
        }
    }
}
