@namespace Jx.Cms.Common.Components
@using Jx.Cms.Common.Utils
@using Jx.Cms.Common.Vo
@using BootstrapBlazor.Components

<ListView TItem="MediaInfoVo" Items="@MediaInfoVos">
    <BodyTemplate>
        <Card>
            <CardHeader>
                @context.MediaName
            </CardHeader>
            <CardBody>
                <img style="margin-bottom: 1rem" src="@context.Url?width=150&height=200"/>
                <div style="text-align: center"><Button OnClick="() => Select(context)">选择</Button></div>
            </CardBody>
        </Card>
    </BodyTemplate>
</ListView>

@code {
    /// 要搜索的文件类型
    [Parameter]
    public string[] FileType { get; set; } = { ".jpg", ".jpeg", ".png", ".gif" };

    /// 显示的标题
    [Parameter]
    public string Title { get; set; } = "请选择媒体";

    /// 选择事件
    [Parameter]
    public EventCallback<MediaInfoVo> MediaSelected { get; set; }

    private List<MediaInfoVo> MediaInfoVos { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        MediaInfoVos = Util.GetUploadFile(FileType);
    }

    private void Select(MediaInfoVo mediaInfoVo)
    {
        MediaSelected.InvokeAsync(mediaInfoVo);
    }

}