@inherits LayoutComponentBase

<PageTitle>Jx.Cms</PageTitle>

<BootstrapBlazorRoot>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
</BootstrapBlazorRoot>