@page "/Install"
@using Jx.Cms.DbContext
@using Jx.Cms.Install.Pages.Layout
@using Jx.Cms.Install.ViewModel
@inject NavigationManager NavigationManager

@layout EmptyLayout

<PageTitle>系统安装 - JX.CMS</PageTitle>

<div class="container">
    <Step @ref="_step" Items="_stepItems" class="install_step">
        <FinishedTemplate>
            <FinishStep DbConfig="_dbConfig" InstallInfoVm="_installInfoVm"></FinishStep>
        </FinishedTemplate>
    </Step>
</div>

@code {
    private readonly List<StepOption> _stepItems = new();

    private Step _step;

    private DbConfig _dbConfig = new() { DbType = "Sqlite", Prefix = "jx_", DbName = $"{Application.WebHostEnvironment.ContentRootPath}/config/Jx.Cms.db" };

    private InstallInfoVm _installInfoVm = new() { UserName = "Admin" };


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _stepItems.Add(new StepOption
        {
            Template = BootstrapDynamicComponent.CreateComponent<DbSetup>(new Dictionary<string, object>
            {
                {
                    nameof(StepBase.Next), () =>
                    {
                        _step?.Next();
                        StateHasChanged();
                    }
                },
                {
                    nameof(StepBase.Prev), () =>
                    {
                        _step?.Prev();
                        StateHasChanged();
                    }
                },
                { nameof(DbSetup.DbConfig), _dbConfig }
            }).Render(),
            Description = "数据库配置信息",
            Title = "安装数据库",
            FinishedIcon = "fas fa-check"
        });
        _stepItems.Add(new StepOption
        {
            Template = BootstrapDynamicComponent.CreateComponent<SettingStep>(new Dictionary<string, object>
            {
                {
                    nameof(StepBase.Next), () =>
                    {
                        _step?.Next();
                        StateHasChanged();
                    }
                },
                {
                    nameof(StepBase.Prev), () =>
                    {
                        _step?.Prev();
                        StateHasChanged();
                    }
                },
                { nameof(SettingStep.InstallInfoVm), _installInfoVm }
            }).Render(),
            Description = "管理员配置",
            Title = "管理员配置",
            FinishedIcon = "fas fa-check"
        });
    }

}
