@page "/Article/All"
@using Jx.Cms.Common.Attribute
@attribute [Menu("{164DD37C-8347-42AC-8D60-0D38F03D2E67}", "文章列表", "/Article/All", 10, iconClass:"fa fa-newspaper-o", parentId:"{A87BBD76-9849-4A7E-97A4-64B29E964F45}")]
<h3>All</h3>

@code {
    
}