@page "/Login"

<div class="container">
    <div class="row align-items-center justify-content-center" style="height: 100vh">
        <Card IsCenter="true" style="width: 300px;padding: 2em 3em">
            <CardHeader>
                <h5>后台管理系统</h5>
            </CardHeader>
            <CardBody>
                <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </div>  
                                <BootstrapInput @bind-Value="@MyClass1.Value"></BootstrapInput>
                            </div>
                        </div>
                    </div>
            </CardBody>
        </Card>
    </div>
</div>

@code
{
    public MyClass MyClass1 { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MyClass1 = new MyClass();
    }

    public class MyClass
    {
        public string Value { get; set; }
    }
}
